html, body, .ember-view, .b-main-page {
    height: 100%;
}

h1 {
    margin: 0;
}

.flex-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.b-main-page {
    margin: 0;
    background: url("/images/bg2_registrations.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    color: #ffffff;
}

.opacity-background {
    height: 100%;
    width: 100%;
    background-color: rgba(74, 90, 137, 0.38);
    opacity: 1;

}

.b-main-page__nav {
    width: 960px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.b-sing-in a {
    color: #ffffff;
}

.b-main-page__content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.b-nav__logo {
    display: inline-block;
}

.b-nav__sign-in {
    display: inline-block;
}

.b-greeting h1 {
    text-align: center;
}

.b-start-registration__button {
    padding: 4px 8px;
    border: #ffffff solid 2px;
    background-color: rgba(15, 40, 52, 0.52);
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
}

.b-start-registration__button:hover {
    border: rgba(216, 216, 216, 0.33) solid 2px;
    background-color: rgba(9, 150, 10, 0.56);
    color: #ffffff;
    text-decoration: none;
}

.b-start-registration__button:active {
    border: rgba(216, 216, 216, 0.33) solid 2px;
    background-color: rgba(9, 59, 10, 0.6);
}

.b-main-page__footer {
    padding-bottom: 10px;
}

.b-github-logo {
    height: 32px;
    width: 32px;
    background: url("/images/GitHub-Mark-Light-32px.png");
}

.b-registration-form__wizard {
    width: 240px;
}

.b-registration-form__wizard input {
    border: 1px solid rgba(51, 51, 51, 0.09);
    border-radius: 7px;
}

.b-registration-form__wizard input:focus {
    border-color: rgba(51, 51, 51, 0.62);
    outline: none;
}

.b-registration-form__wizard button {
    border-radius: 7px;
    outline: none;
    background-color: #ffffff;
    border: 1px solid rgba(50, 119, 170, 0.84);
    color: rgba(50, 119, 170, 0.84);
}

.b-registration-form__wizard button:hover {
    background-color: rgba(50, 119, 170, 0.84);
    color: #ffffff;
}

.b-registration-form__wizard .warning {
    color: #ff451f;
}

.b-whitebox__registration {
    width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #333333;
}

.b-registration-form {
    padding: 5px 3px;
    display: flex;
}

.b-registration-form__delimiter {
    background: #333333;
    width: 1px;
    height: 100px;
}

.b-registration-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.b-registration-form__steps {
    width: 240px;
}

.b-registration-steps__step {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.b-registration-steps__circle {
    height: 30px;
    width: 30px;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 50%;
    border: 1px solid #333333;
}

.b-registration-steps_selected .b-registration-steps__circle {
    color: #ffffff;
    background: #00b3ee;
    border-color: #0093c9;
}

.b-registration-steps_success .b-registration-steps__circle {
    color: #ffffff;
    background: #83ee95;
    border-color: #69bf78;
}