<form id="newUser">
    <p>
        {{#if warning.invalidEmail}}
            Требуется ввести корректный email
        {{/if}}
        {{input value=user.email placeholder="Email"}}
        {{#if warning.invalidPassword}}
            Требуется ввести пароль более 5 символов
        {{/if}}
        {{input value=user.password placeholder="Password"}}
    </p>
    <p>
         {{#if sending}}
             <button disabled>Далее</button>
         {{else}}
             <button {{action "validationAndHandle" user}}>Далее</button>
        {{/if}}
    </p>
</form>
