<div class="b-main-page">
    <div class="flex-container opacity-background">
        <nav class="b-main-page__nav">
            <div class="b-nav__logo">
                <div class="b-logo">
                    <h1>DigitalReactor</h1>
                </div>
            </div>
            <div class="b-nav__sign-in">
                <div class="b-sing-in">
                    <a href="#">Войти</a>
                </div>
            </div>
        </nav>

        <div class="b-whitebox__registration">
            <div class="b-registration-form">
                <div class="b-registration-form__wizard">
                    <h4>Создание проекта</h4>
                    <p>
                        Выберите сайт, который требуется проанализировать.
                    </p>
                    <select id="counterId">
                        {{#each model as |site|}}
                            <option value="{{site.id}}">{{site.name}}</option>
                        {{/each}}
                    </select>

                    <button {{action "setCounter" }}>Открыть доступ</button>

                </div>

                <div class="b-registration-form__delimiter">
                </div>

                <div class="b-registration-form__steps">
                    <div class="b-registration-steps">
                        <div class="b-registration-steps__step b-registration-steps_success">
                            <div class="b-registration-steps__circle">
                                <div class="glyphicon glyphicon-ok"></div>
                            </div>
                            <div class="">Регистрация в сервисе</div>
                        </div>
                        <div class="glyphicon glyphicon-arrow-down"></div>
                        <div class="b-registration-steps__step b-registration-steps_success">
                            <div class="b-registration-steps__circle">
                                <div class="glyphicon glyphicon-ok"></div>
                            </div>
                            <div class="">Предоставление доступа к Яндекс.Метрике</div>
                        </div>
                        <div class="glyphicon glyphicon-arrow-down"></div>
                        <div class="b-registration-steps__step b-registration-steps_selected">
                            <div class="b-registration-steps__circle">3</div>
                            <div class="">Создание проекта</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-main-page__footer">
            <div class="b-github">
                <a href="https://github.com/digitalreactor-io">
                    <div class="b-github-logo"></div>
                </a>
            </div>
        </div>
        {{outlet}}
    </div>
</div>
